.post-image-aligned-left .inside-article {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #eaeaea;
}
.separate-containers .site-main > DIV {
  box-shadow: none;
}
.size-medium {
  box-shadow: rgba(23, 43, 99, 0.14) 0 7px 28px;
  border-radius: 9px;
}
a.button {
  border-radius: 4px;
}
